.cources {
    background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.cources__container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 2.4rem;
    padding-bottom: 14rem;
}

.cources__first-box {
    width: 350px;
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    border-radius: 15px;
    padding: 6.4rem 3.2rem 13.8rem 3.2rem;
}

.cources__box {
    position: relative;
    width: 350px;
    padding: 6.4rem 3.2rem 4rem 3.2rem;
    background: #ffffff;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;

    &-heading {
        margin-bottom: 2.4rem;
    }

    &-description {
        margin-bottom: 2.4rem;
    }

    &-link {
        font-weight: 700;
        color: #f74780;
    }

    &-link:hover {
        color: #FFA7C3;
    }
}

.cources__box:nth-child(3) p {
    margin-bottom: 5.2rem;
}
.cources__box:nth-child(4) p {
    margin-bottom: 5.2rem;
}

.cources__box-img {
    position: absolute;
    top: -24px;
    left: 32px;
}

@media (max-width: 485px) {
    .cources__first-box {
        padding: 2.4rem 2.8rem 3.2rem 2.8rem;
    }
}

